n8n/cookie-expiry-monitor-workflow.json
{
  "name": "Clarity Cookie Expiry Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check (9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_COOKIE_STORAGE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Cookie Storage",
          "mode": "list"
        },
        "options": {}
      },
      "id": "read-cookies",
      "name": "Read Stored Cookies",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-cookies",
              "leftValue": "={{ $json['Clarity Cookies'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empty",
      "name": "Has Cookies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/cookies/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clarityCookies\": {{ $json['Clarity Cookies'] }},\n  \"slackWebhookUrl\": \"{{ $env.SLACK_WEBHOOK_URL }}\",\n  \"notifyIfExpiringSoon\": true,\n  \"thresholdDays\": 7,\n  \"projectName\": \"{{ $json['Project Name'] || 'Clarity' }}\",\n  \"customerName\": \"{{ $json['Customer Name'] || '' }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-cookie-expiry",
      "name": "Check Cookie Expiry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Collect all expiry info for summary\nconst items = $input.all();\nconst summary = {\n  total: items.length,\n  expired: 0,\n  critical: 0,\n  warning: 0,\n  ok: 0,\n  details: []\n};\n\nfor (const item of items) {\n  const data = item.json;\n  const status = data.expired ? 'expired' : data.warningLevel;\n  \n  summary.details.push({\n    customer: data.customerName || 'Unknown',\n    project: data.projectName || 'Unknown',\n    status: status,\n    daysRemaining: data.daysRemaining,\n    expiresAt: data.expiresAtFormatted\n  });\n  \n  if (data.expired) summary.expired++;\n  else if (data.warningLevel === 'critical') summary.critical++;\n  else if (data.warningLevel === 'warning') summary.warning++;\n  else summary.ok++;\n}\n\nreturn [{ json: summary }];"
      },
      "id": "summarize-results",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-attention",
              "leftValue": "={{ $json.expired + $json.critical + $json.warning }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-attention",
      "name": "Needs Attention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.expired > 0 ? '\\ud83d\\udea8' : '\\u26a0\\ufe0f' }} Cookie Expiry Summary\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Total Tracked:* {{ $json.total }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Expired:* {{ $json.expired }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Critical (\\u22643 days):* {{ $json.critical }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Warning (\\u22647 days):* {{ $json.warning }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Details:*\\n{{ $json.details.filter(d => d.status !== 'ok').map(d => `\\u2022 ${d.customer || d.project}: ${d.status === 'expired' ? 'EXPIRED' : d.daysRemaining + ' days remaining'}`).join('\\\\n') }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Run daily at 9 AM | Action required for expired/critical items\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-slack-summary",
      "name": "Send Slack Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-result",
              "name": "result",
              "value": "=No cookies need attention. {{ $json.ok }} cookies are healthy.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-all-ok",
      "name": "All Cookies OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Daily Check (9 AM)": {
      "main": [
        [
          {
            "node": "Read Stored Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Stored Cookies": {
      "main": [
        [
          {
            "node": "Has Cookies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cookies?": {
      "main": [
        [
          {
            "node": "Check Cookie Expiry",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Cookie Expiry": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Needs Attention?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Attention?": {
      "main": [
        [
          {
            "node": "Send Slack Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Cookies OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "clarity",
      "createdAt": "2026-01-20T00:00:00.000Z",
      "updatedAt": "2026-01-20T00:00:00.000Z"
    },
    {
      "name": "monitoring",
      "createdAt": "2026-01-20T00:00:00.000Z",
      "updatedAt": "2026-01-20T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T00:00:00.000Z",
  "versionId": "1"
}
